.container {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #FFDEE9, #B5FFFC);
  color: #333;
  min-height: 100vh;
  padding: 2rem;
  text-align: center;
}

.header h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  color: #6B5B95;
}

.header p {
  font-size: 1.2rem;
  color: #333;
}
.footer button {
  background-color: #FF6F61;
  color: white;
  border: none;
  padding: 1rem 2rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.footer button:hover {
  background-color: #E85C50;
}

.footer div{
  text-align: left;
}